
{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="album-list">
    <h1>All Books</h1>
    <div class="sort">
        <ul class="list pl0">
            <li class="dib mr1 mb2"><a href="?sort=title"
                    class="ma1 f6 f5-ns b db pa2 link dim dark-gray ba b--black-20">Sort by title</a></li>
            <li class="dib mr1 mb2"><a href="?sort=artist"
                    class="ma1 f6 f5-ns b db pa2 link dim dark-gray ba b--black-20">Sort by artist</a></li>
            <li class="dib mr1 mb2"><a href="?sort=release_date"
                    class="ma1 f6 f5-ns b db pa2 link dim dark-gray ba b--black-20">Sort by release date</a></li>
        </ul>
        <div class="mid-gray f6 i">Sorted by {{ sort_by }}</div>
    </div>
    {% for book in books %}
    <div class="mv4 pa3 br1 measure-narrow ba b--light-silver">
        <a href="" class="f3 fw6 db dark-green no-underline underline-hover">{{ book.title }}</a>
        <p class="mv2 f5 b">{{ book.author }}</p>
        <p class="mv3">{{ book.description }}</p>
        <a href= "" class="album_title f6 fw6 db dark-pink no-underline underline-hover">{{ book.url }}</a>
        <p class="mv3 f6 i gray">{{ book.date }} </p>
    </div>
    {% empty %}
    <h2>Sorry, there are no results for that search term.</h2>
    {% endfor %}
</section>





{% endblock %}
